/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow&family=Sansita&family=Short+Stack&display=swap');

/* General styling */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: Kanita, "PT Sans Narrow", Sansita, sans-serif;
}

body {
  background-color: hsl(14.1, 13.4%, 75.1%);
}

p {
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  display: block;
  font-size: 4rem;
  text-align: center;
  background-image: url(../images/bannerball.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: cover;
  text-shadow: 2px 2px 2px hsl(330, 88%, 60%);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  min-height: 10vh;
}

/* Navbar */
nav {
  display: flex;
  justify-content: end;
  position: relative;
  right: 0;
  top: -31px;
}

nav li {
  list-style-type: none;
  font-size: 1.5rem;
  margin-right: 20px;
  width: 100%;
}

nav a {
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px hsl(330, 88%, 60%);
  color: white;
  font-weight: 700;
}

/* keep a white color on clicked navlink */
nav a:visited {
  color: white;
}

nav li:hover {
  background: hsl(0, 0%, 0%);
  letter-spacing: 1px;
}

#container {
  padding-top: 20px;
}

form {
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 1.3rem;
  color: #777;
}

.field input {
  max-width: 250px;
  line-height: 1.5;
  font-size: 1.5rem;
}

textarea {
  max-width: 250px;
}

input[type="submit"] {
  padding: 10px;
  font-size: 1.5rem;
  background: hsl(330, 56%, 48%);
}

input[type="submit"]:hover {
  background: hsl(120, 56%, 48%);
}

@media screen and (max-width: 600px) {

  h1 {
    font-size: 2rem;
    min-height: 5vh;
  }

}