@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow&family=Sansita&family=Short+Stack&display=swap');

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}
body {
    
    

}
#container {
    text-align: center;
    background-color: darkgrey;
    max-width: 1100px;
    margin: 0 auto;
    
}

h1 {
    padding: 20px;
    display:block;
    background:green;
    font-size: 4rem;
    text-align: center;
}

#gameZone {
    width:1100px;
    border: 1px solid;

}

.questionImages {
    width:250px;
    height: 350px;
    margin:5px;
}
#question {
    margin: 20px 20px;
    font-size: 2rem;
}

#rightAnswers, #wrongAnswers {
    display:block;
    width: 100px;
    height: 2rem;

}

#keepScore {
    display: flex;
    justify-content: center;
    padding:25px;
    align-items: center;
}

#restart, #submit {
    padding: 20px;
    margin: 10px;
    border:inset 1px solid red;

}