/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow&family=Sansita&family=Short+Stack&display=swap');

/* General styling */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Kanita, "PT Sans Narrow", Sansita, sans-serif;
}

#container {
    text-align: center;
    background-color: hsl(14.1, 13.4%, 75.1%);
    padding: 40px 0px 40px;
    height: 80vh;
}

h1 {
    padding: 20px;
    display: block;
    font-size: 4rem;
    text-align: center;
    background-image: url(../images/banner-image.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: cover;
    text-shadow: 4px 4px 4px hsl(208, 100%, 97%);
    font-weight: 800;
}
/* Navbar */
nav {
    display: flex;
    justify-content: end;
    position: absolute;
    right:0;

}
nav li {
    list-style-type: none;
    font-size: 1.5rem;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    padding:5px;
    text-transform:uppercase;
}
/* keep a black color on clicked navlink */
nav a:visited {
    color: black;
}
nav li:hover {
    background: white;
    letter-spacing: 1px;
}

/* Game section */
#gameZone {
    width: 1100px;
    border: 1px solid;
}
/* the answer buttons */
.answer {
    width: 250px;
    height: 3rem;
    margin: 5px;
    font-size: 1.5rem;
}
/* the question bar below the answer buttons */
#question {
    margin: 20px 0px 20px;
    font-size: 2rem;
    background: hsl(39, 77%, 83%);
    padding:10px;
}

#rightAnswers,
#wrongAnswers {
    display: flex;
    width: 50px;
    height: 2rem;
    align-items: center;
    border: 4px inset grey;
    padding: 10px;
    justify-content: center;
    margin: 5px;
}

#wrongAnswers {
    background: hsl(330, 88%, 40%);
}

#rightAnswers {
    background: hsl(120, 88%, 40%);
}

#keepScore {
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-size: 3rem;
}

#restart,
#submit {
    padding: 10px;
    margin: 10px;
    border: inset 1px solid red;
    font-size: 1.5rem;
}

.fa-solid {
    font-size: 3rem;
}

.right {
    color: hsl(120, 88%, 40%)
}

.wrong {
    color: hsl(330, 88%, 40%)
}

#highScore {
    text-align: left;
    min-height: 5rem;
    border:  5px inset  hsl(15, 33%, 77%);
    background: hsl(15, 33%, 77%);
    list-style-position: inside;
    margin-bottom: 20px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

ol>li::marker {
    font-weight: 700;
}

#submitNewQuestion {
    padding: 5px;
    font-size: 1.5rem;
    background: hsl(330, 88%, 60%);
}
#submitNewQuestion:hover {
    background: hsl(120, 88%, 60%);

}

/* __________ Media queries __________ */
@media screen and (max-width: 900px) {

    h1 {
        font-size: 2.5rem;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2rem;
        padding: 5px;
    }

    h3 {
        font-size: 1.5rem;
    }


    .questionImages {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    #question {
        margin: 5px
    }

    #keepScore {
        padding: 5px 5px 60px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 400px) {
    .questionImages {
        width: 130px;
        height: 150px;
        margin: 5px;
    }
}