/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow&family=Sansita&family=Short+Stack&display=swap');

/* General styling */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Kanita, "PT Sans Narrow", Sansita, sans-serif;
}

body {
    background-color: hsl(14.1, 13.4%, 75.1%);
    
}

#container {
    text-align: center;
    padding: 40px 0px 40px;

}

h1 {
    padding: 20px;
    display: block;
    font-size: 4rem;
    text-align: center;
    background-image: url(../images/bannerball.png);
    background-position: bottom;
    background-repeat: no-repeat;

    text-shadow: 2px 2px 2px hsl(330, 88%, 60%);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-family: sans-serif;
}

#playerName {
    color: hsl(330, 88%, 60%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 100%);
}

/* Navbar */
nav {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;

}

nav li {
    list-style-type: none;
    font-size: 1.5rem;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
}

/* keep a black color on clicked navlink */
nav a:visited {
    color: black;
}

nav li:hover {
    background: white;
    letter-spacing: 1px;
}

/* Game section */
#gameZone {
    width: 1100px;
    border: 1px solid;
}

#answerContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* the answer buttons */
.answer {
    width: 250px;
    height: 5rem;
    margin: 5px;
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answer:hover {
    transform: rotate(-8deg);
}

/* the question bar below the answer buttons */
#question {
    margin: 20px 0px 20px;
    font-size: 2rem;
    background: hsl(39, 77%, 83%);
    padding: 10px;
}

#rightAnswers,
#wrongAnswers {
    display: flex;
    width: 50px;
    height: 2rem;
    align-items: center;
    border: 4px inset hsl(0, 0%, 50%);
    padding: 10px;
    justify-content: center;
    margin: 5px;
}

#wrongAnswers {
    background: hsl(330, 88%, 40%);
}

#rightAnswers {
    background: hsl(120, 88%, 40%);
}

#keepScore {
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-size: 3rem;
}

img {
    max-width: 77px;
    aspect-ratio: 1/1;
}


#restart,
#submit {
    padding: 10px;
    margin: 10px;
    border: 4px inset hsl(0, 0%, 50%);
    font-size: 1.5rem;
    height: 2rem;
}

.fa-solid {
    font-size: 3rem;
}

.right {
    color: hsl(120, 88%, 40%)
}

.wrong {
    color: hsl(330, 88%, 40%)
}


ol>li::marker {
    font-weight: 700;
}

.formtitle {
    font-size: 2rem;
    display: block;
    margin-top: 50px;
}

#submitNewQuestion {
    padding: 5px;
    font-size: 1.5rem;
    background: hsl(330, 88%, 60%);
}

#submitNewQuestion:hover {
    background: hsl(120, 88%, 60%);

}

#restart:hover {
    border: 4px inset hsl(330, 79%, 15%);
}

/* __________ contact.html ___________ */
.field {
    margin-bottom: 10px;
}

.field label {

    font-size: 12px;
    color: #777;
}

.field input {

    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

/* __________ Media queries __________ */
@media screen and (max-width: 900px) {

    h1 {
        font-size: 2.5rem;
        padding: 5px;
    }

    #container {
        padding: 10px 0px 40px;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2rem;
        padding: 5px;
    }

    h3 {
        font-size: 1.5rem;
    }


    .questionImages {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    #keepScore {
        padding: 5px 5px 60px;
        flex-wrap: wrap;
    }

    /* Remove the rotation because doesn't work well on screen of small sizes */
    .answer:hover {
        transform: none;
    }

}

@media screen and (max-width: 400px) {
    .questionImages {
        width: 130px;
        height: 150px;
        margin: 5px;
    }
}