@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Sans+Narrow&family=Sansita&family=Short+Stack&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Kanita, "PT Sans Narrow", Sansita, sans-serif;
}

body {}

#container {
    text-align: center;
    background-color: hsl(14.1, 13.4%, 75.1%);
}

h1 {
    padding: 20px;
    display: block;
    font-size: 4rem;
    text-align: center;
    background-image: url(../images/banner-image.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: cover;
    text-shadow: 4px 4px 4px aliceblue;
    font-weight: 800;
}

#gameZone {
    width: 1100px;
    border: 1px solid;
}

.questionImages {
    width: 250px;
    height: 300px;
    margin: 5px;
}

#question {
    margin: 20px 20px;
    font-size: 2rem;
}

#rightAnswers,
#wrongAnswers {
    display: flex;
    width: 50px;
    height: 2rem;
    align-items: center;
    border: 4px inset grey;
    padding: 10px;
    justify-content: center;
    margin: 5px;
}

#wrongAnswers {
    background: hsl(330, 88%, 40%);
}

#rightAnswers {
    background: hsl(120, 88%, 40%);
}

#keepScore {
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
    font-size: 3rem;
}

#restart,
#submit {
    padding: 10px;
    margin: 10px;
    border: inset 1px solid red;
    font-size: 1.5rem;
}

.fa-solid {
    font-size: 3rem;
}

.right {
    color: hsl(120, 88%, 40%)
}

.wrong {
    color: hsl(330, 88%, 40%)
}

#highScore {
    text-align: left;
    min-height: 5rem;
    border: inset 5px solid rgb(144, 123, 238);
    background: hsl(15, 33%, 77%);
    list-style-position: inside;
    margin-bottom: 20px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
ol>li::marker {
    font-weight: 700;
}

@media screen and (max-width: 900px) {

    h1 {
        font-size: 2.5rem;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2rem;
        padding: 5px;
    }
    h3 {
        font-size: 1.5rem;
    }

    .questionImages {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    #question {
        margin: 5px
    }

    #keepScore {
        padding: 5px 5px 60px;
        flex-wrap: wrap;
    }
}